body {
    background-image: linear-gradient(
        to right,
        gray 0%,
        gray 16.5%,
        tan 16.5%,
        tan 83.5%,
        gray 83.5%,
        gray 100%
    );
}

.container {
    padding-left: 16.5%;
    padding-right: 16.5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    .header {
        text-align: center;
        font-size: 80px;
        padding: 20px;
        padding-bottom: 30px;
    }

    .info {
        float: left;
        width: 25%;
        text-align: center;
        padding-left: 5%;
        font-size: 125%;
        font-weight: bold;
        color: navy;
    }

    /* 
    .topNav:hover {
        background-color: white;
    } */

    .image-cropper {
        width: 100%;
        height: 100%;
        display: inline;
        justify-content: left;
        align-items: left;
        
        content: "";
        clear: both;
        
    }

    .image-cropper img{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        padding:50px;
    
    }

    .description {
        float: right;
        width: 60%;
        padding: 25px;
        padding-top: 75px;
        font-size: 162.5%;
    }



    .column {
        float: left;
        width: 33.33%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    @media screen and (max-width: 600px){
        .column {
            width: 100%;
        }
    }

    .columnHeader {
        text-align: center;
        font-size: 325%;
        padding: 20px;
        padding-bottom: 30px;
    }

    .columnSubtitle {
        font-weight: bold;
        text-align: center;
        font-size: 162.5%;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        
    }
    .columnDescription {
        text-align: center;
        font-size: 125%;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        
    }


    .footer {
        float: right;
        text-align: right;
        width:100%;
        font-size: 110%;
        padding-top: 5%;
        padding-right: 5%;
        color: navy;
    }
    
}